
/**
 * @file navbar.menu.css
 *
 * RTL styling for navbar.menu.css
 */
.navbar .vertical .handle + a {
  margin-left: 3em;
  margin-right: 0;
}

/**
 * Handle.
 */
.navbar .icon.handle {
  left: 0;
  right: auto;
}
.navbar .icon.handle:before {
  left: auto;
  right: 0;
}
