/**
 * @file navbar.icons.css
 */
.navbar .icon {
  padding-left: 2.75em; /* LTR */
  position: relative;
}
.navbar .icon:before {
  background-attachment: scroll;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  content: '';
  display: block;
  height: 100%;
  left: 0.6667em; /* LTR */
  position: absolute;
  top: 0;
  width: 20px;
}
.navbar button.icon {
  background-color: transparent;
  border: 0;
  font-size: 1em;
}
.navbar .menu ul .icon {
  padding-left: 1.3333em; /* LTR */
}
.navbar .menu ul a.icon:before {
  display: none;
}
.navbar .vertical .menu ul {
  margin-left: 1.5em; /* LTR */
}
.navbar .vertical .menu ul ul {
  margin-left: 0.75em; /* LTR */
}

/**
 * Top level icons
 */
.icon-home:before {
  background-image: url("../images/icon-home.png");
}
.icon-home:active:before,
.icon-home.active:before {
  background-image: url("../images/icon-home-active.png");
}
.icon-menu:before {
  background-image: url("../images/icon-menu.png");
}
.icon-menu:active:before,
.icon-menu.active:before {
  background-image: url("../images/icon-menu-active.png");
}

/**
 * Main menu icons.
 */
.icon-content:before {
  background-image: url("../images/icon-content.png");
}
.icon-content:active:before,
.icon-content.active:before {
  background-image: url("../images/icon-content-active.png");
}
.icon-structure:before {
  background-image: url("../images/icon-structure.png");
}
.icon-structure:active:before,
.icon-structure.active:before {
  background-image: url("../images/icon-structure-active.png");
}
.icon-appearance:before {
  background-image: url("../images/icon-appearance.png");
}
.icon-appearance:active:before,
.icon-appearance.active:before {
  background-image: url("../images/icon-appearance-active.png");
}
.icon-people:before {
  background-image: url("../images/icon-people.png");
}
.icon-people:active:before,
.icon-people.active:before {
  background-image: url("../images/icon-people-active.png");
}
.icon-modules:before {
  background-image: url("../images/icon-extend.png");
}
.icon-modules:active:before,
.icon-modules.active:before {
  background-image: url("../images/icon-extend-active.png");
}
.icon-configuration:before {
  background-image: url("../images/icon-configuration.png");
}
.icon-configuration:active:before,
.icon-configuration.active:before {
  background-image: url("../images/icon-configuration-active.png");
}
.icon-reports:before {
  background-image: url("../images/icon-reports.png");
}
.icon-reports:active:before,
.icon-reports.active:before {
  background-image: url("../images/icon-reports-active.png");
}
.icon-help:before {
  background-image: url("../images/icon-help.png");
}
.icon-help:active:before,
.icon-help.active:before {
  background-image: url("../images/icon-help-active.png");
}
/**
 * User icon.
 */
.icon-user:before {
  background-image: url("../images/icon-user.png");
}
.icon-user:active:before,
.icon-user.active:before {
  background-image: url("../images/icon-user-active.png");
}

/**
 * Shortcut icon.
 */
.icon-shortcut:before {
  background-image: url("../images/shortcut.png");
}
.icon-shortcut:active:before,
.icon-shortcut.active:before {
  background-image: url("../images/shortcut-active.png");
}

@media only screen and (min-width: 16.5em) {
  .navbar .bar .icon {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    text-indent: -9999px;
    width: 4em;
  }
  .navbar .bar .icon:before {
    left: 0; /* LTR */
    width: 100%;
  }
}

@media only screen and (min-width: 36em) {
  .navbar .bar .icon {
    background-position: left center; /* LTR */
    padding-left: 2.75em; /* LTR */
    padding-right: 1.3333em; /* LTR */
    text-indent: 0;
    width: auto;
  }
  .navbar .bar .icon:before {
    left: 0.6667em; /* LTR */
    width: 20px;
  }
}
